header {
  text-align: center;
}

#featured-property {
  text-align: center;
}

nav a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #8b9612;
}

figcaption {
  text-align: center;
  font-size: 14px;
}

#featured-property p {
  padding-right: 245px;
  padding-left: 245px;

}

#details div {
  text-align: center;
  float: left;
  width: 25%;
  background-color: tomato;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}
